.popup {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background-color: rgba(5, 40, 45, 0.8);
  backdrop-filter: blur(2px);
}

.container {
  position: relative;
  width: 60rem;
  max-width: 90vw !important;
  height: 65%;
  background-color: var(--light-blue);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}